In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("players-se-k00012021.csv", sep=";")

In [3]:
df

,ID,Vorname,Nachname,Angezeigter Name,Verein,Position,Marktwert,Punkte,Notendurchschnitt
0,pl-k00030669,Manuel,Neuer,Neuer,Bayern München,GOALKEEPER,4500000,182,2.80
1,pl-k00030860,Philipp,Tschauner,Tschauner,RB Leipzig,GOALKEEPER,500000,0,0.00
2,pl-k00030961,Philipp,Pentke,Pentke,TSG Hoffenheim,GOALKEEPER,800000,18,2.50
3,pl-k00033610,Kevin-Prince,Boateng,Boateng,Hertha BSC,MIDFIELDER,2200000,0,0.00
4,pl-k00037056,Tobias,Sippel,Sippel,Bor. Mönchengladbach,GOALKEEPER,700000,23,2.63
...,...,...,...,...,...,...,...,...,...
520,pl-k00135221,Fabio,Blanco,Blanco,Eintracht Frankfurt,FORWARD,700000,0,0.00
521,pl-k00135841,Zidan,Sertdemir,Sertdemir,Bayer 04 Leverkusen,MIDFIELDER,800000,0,0.00
522,pl-k00136298,Bryan,Lasme,Lasme,Arminia Bielefeld,FORWARD,1500000,0,0.00
523,pl-k00136434,Guilherme,Ramos,Ramos,Arminia Bielefeld,DEFENDER,1000000,0,0.00
524,pl-k00136679,Enrique,Herrero,Herrero,Eintracht Frankfurt,FORWARD,500000,0,0.00

In [4]:
df['Position'] = df['Position'].replace({"GOALKEEPER" : "TOR", "MIDFIELDER" : "MIT", "FORWARD" : "STU" , "DEFENDER" : "ABW" } )

In [5]:
df['Position'].unique()

array(['TOR', 'MIT', 'ABW', 'STU'], dtype=object)

In [6]:
df['Marktwert'] = df['Marktwert'] /1e6

In [7]:
df.drop(columns=["ID","Vorname","Nachname" ], inplace=True)

In [8]:
df.to_csv("spieler_ersteliga.csv", sep=";", decimal=',', header=False, index=False, encoding="latin1")